@keyframes animacion1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animacion2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#0634ff, #ffffff) no-repeat;
  overflow: hidden;
}

.contenedor {
  width: 100%;
  height: 100%;
}

.btn, .header .info, .pregunta_zona .comodin i, .cont_pregunta .resp, .ventana .seguir {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 20px;
  background: #0634ff;
  box-shadow: -1px -1px 5px #fff, 2px 2px 20px #1f1e1e, inset 0px 0px 0px #fff, inset 0px 0px 0px #1f1e1e;
  transition: all 300ms ease;
}

.btn:active, .header .info:active, .pregunta_zona .comodin i:active, .cont_pregunta .resp:active, .ventana .seguir:active {
  transform: scale(0.9);
}

.nosonar {
  background-color: gray;
}

.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header .info {
  font-size: 40px;
  padding: 0;
  border: none;
  font-weight: lighter;
}

.header .denero {
  padding: 5%;
}

.principal {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.principal .logo {
  height: 65vh;
  width: 65vh;
}

.principal .icon-exit {
  font-size: 30px;
}

.informacion {
  z-index: 300;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  transition: 0.7s all ease-in-out;
}

.informacion .cont {
  margin: 5%;
}

.informacion span {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 1%;
  cursor: pointer;
  background: #0634ff;
  font-size: 25px;
  border-radius: 50px;
}

.informacion h1, .informacion h3, .informacion p {
  margin: 5%;
  font-size: 200%;
}

.informacion img {
  width: 20%;
  height: 20%;
  min-width: 100px;
  min-height: 100px;
}

.nomostrar {
  transform: translate(-200%, -200%);
}

.desaparecer {
  transition: 1s all ease-in;
  transform: scale(0);
}

.animacionLogo {
  animation-name: animacion1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.rendirse {
  position: fixed;
  right: 0;
  bottom: 0;
}

.pregunta_zona {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.pregunta_zona .tiempo {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.pregunta_zona .tiempo span {
  width: 80%;
  height: 80%;
  background-image: url("../medios/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18vw;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pregunta_zona .cont_pregunta {
  width: 60%;
  height: 100%;
  margin: 1%;
}

.pregunta_zona .comodin {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pregunta_zona .comodin i {
  font-size: 50px;
  border: 2px solid white;
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 3px;
  cursor: pointer;
}

.comenzar {
  display: flex;
  animation-name: animacion2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.cont_pregunta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.cont_pregunta .preg_borde,
.cont_pregunta .resp_borde {
  background-color: #44c5fd;
  /* background-color: #11fd05; */
  width: 100%;
  margin: 1%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* clip-path: polygon(10% 0, 90% 0, 100% 50%, 100% 50%, 90% 100%, 10% 99%, 0 50%, 0 50%); */
  clip-path: polygon(1% 0, 100% 0, 100% 0, 100% 5%, 100% 100%, 1% 99%, 100% 50%, 1% 100%);
}

.cont_pregunta .preg_borde {
  height: 20%;
  margin-bottom: 10%;
}

.cont_pregunta .respuestas {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cont_pregunta .resp_borde {
  width: 45%;
  height: 35%;
  min-width: 180px;
}

.cont_pregunta .resp,
.cont_pregunta .preg {
  /* clip-path: polygon(10% 0, 90% 0, 100% 50%, 100% 50%, 90% 100%, 10% 99%, 0 50%, 0 50%); */
  clip-path: polygon(1% 0, 100% 0, 100% 0, 100% 5%, 100% 100%, 1% 99%, 100% 50%, 1% 100%);
  background-color: #0634ff;
  width: 90%;
  height: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 22px;
}

.cont_pregunta .resp {
  border: none;
  cursor: pointer;
}

.ventana {
  z-index: 300;
  background: #0634ff;
  border: 6px solid #44c5fd;
  border-radius: 10%;
  color: white;
  width: 40vw;
  height: 40vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  min-width: 400px;
  min-height: 400px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 0.7s all ease-in-out;
  transform: scale(0);
}

.ventana .seguir {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ventana i {
  font-size: 100px;
  margin: 2%;
}

.ventana span {
  display: block;
  text-align: left;
}

.ventana .progreso {
  width: 50%;
  height: 17px;
  -webkit-appearance: none;
  appearance: none;
}

.ventana .progreso::-webkit-progress-value {
  background-color: #44c5fd;
}

.ventana .progreso::-webkit-progress-bar {
  background-color: transparent;
  border: 2px solid #44c5fd;
}

.ventana #correcto {
  margin: 1%;
  color: #44c5fd;
}

.ventana .icon-checkmark {
  color: #2df006;
}

.ventana .llamar,
.ventana .audiencia {
  display: none;
}

.ventana .correcta {
  display: none;
}

.ventana2 img {
  display: block;
  width: 35%;
  height: 30%;
}

.ventana2 p {
  padding: 1%;
  margin: 1%;
  font-size: 25px;
}

.ventana2 .victoria {
  display: none;
}
