@keyframes animacion1{
    0%{transform: scale(1);}
    //25%{transform: scale(1.5);}
    50%{transform: scale(2);}
    //75%{transform: scale(1.5);}
    100%{transform: scale(0);}
}

@keyframes animacion2{
    from{opacity: 0;}
    
    to{opacity: 1;}
}

